<!DOCTYPE html>
<html lang="en">

<head>
    <title>iFacturacion Pale</title>

    <!-- BEGIN META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="your,keywords">
    <meta name="description" content="Short explanation about this website">
    <!-- END META -->

    <!-- BEGIN STYLESHEETS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet'
        type='text/css' />
    <link type="text/css" rel="stylesheet" href="/assets/css/theme-default/bootstrap0f9f.css" />
    <link type="text/css" rel="stylesheet" href="/assets/css/theme-default/materialadmin6b47.css" />
    <link type="text/css" rel="stylesheet" href="/assets/css/theme-default/font-awesome.min5914.css" />
    <link type="text/css" rel="stylesheet" href="/assets/css/theme-default/material-design-iconic-font.min5730.css" />
    <style>
        .bg-bubbles {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
        }
        .bg-bubbles li {
            position: absolute;
            list-style: none;
            display: block;
            width: 40px;
            height: 40px;
            background-color: rgba(255, 255, 255, 0.15);
            bottom: -160px;
            -webkit-animation: square 25s infinite;
            animation: square 25s infinite;
            transition-timing-function: linear;
        }
        .bg-bubbles li:nth-child(1) {
            left: 10%;
        }
        .bg-bubbles li:nth-child(2) {
            left: 20%;
            width: 80px;
            height: 80px;
            -webkit-animation-delay: 2s;
                    animation-delay: 2s;
            -webkit-animation-duration: 17s;
                    animation-duration: 17s;
        }
        .bg-bubbles li:nth-child(3) {
            left: 25%;
            -webkit-animation-delay: 4s;
                    animation-delay: 4s;
        }
        .bg-bubbles li:nth-child(4) {
            left: 40%;
            width: 60px;
            height: 60px;
            -webkit-animation-duration: 22s;
                    animation-duration: 22s;
            background-color: rgba(255, 255, 255, 0.25);
        }
        .bg-bubbles li:nth-child(5) {
            left: 70%;
        }
        .bg-bubbles li:nth-child(6) {
            left: 80%;
            width: 120px;
            height: 120px;
            -webkit-animation-delay: 3s;
                    animation-delay: 3s;
            background-color: rgba(255, 255, 255, 0.2);
        }
        .bg-bubbles li:nth-child(7) {
            left: 32%;
            width: 160px;
            height: 160px;
            -webkit-animation-delay: 7s;
                    animation-delay: 7s;
        }
        .bg-bubbles li:nth-child(8) {
            left: 55%;
            width: 20px;
            height: 20px;
            -webkit-animation-delay: 15s;
                    animation-delay: 15s;
            -webkit-animation-duration: 40s;
                    animation-duration: 40s;
        }
        .bg-bubbles li:nth-child(9) {
            left: 25%;
            width: 10px;
            height: 10px;
            -webkit-animation-delay: 2s;
                    animation-delay: 2s;
            -webkit-animation-duration: 40s;
                    animation-duration: 40s;
            background-color: rgba(255, 255, 255, 0.3);
        }
        .bg-bubbles li:nth-child(10) {
            left: 90%;
            width: 160px;
            height: 160px;
            -webkit-animation-delay: 11s;
                    animation-delay: 11s;
        }
        @-webkit-keyframes square {
            0% {
                -webkit-transform: translateY(0);
                        transform: translateY(0);
            }
            100% {
                -webkit-transform: translateY(-700px) rotate(600deg);
                        transform: translateY(-700px) rotate(600deg);
            }
        }
        @keyframes square {
            0% {
                -webkit-transform: translateY(0);
                        transform: translateY(0);
            }
            100% {
                -webkit-transform: translateY(-700px) rotate(600deg);
                        transform: translateY(-700px) rotate(600deg);
            }
        }

        </style>
    <!-- END STYLESHEETS -->

</head>

<body class="menubar-hoverable header-fixed" style="background: linear-gradient(to bottom right, #747979 0%, #5c6963 100%)">

    <ul class="bg-bubbles" style="overflow-x:  hidden;overflow-y:  hidden;">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    <!-- BEGIN LOGIN SECTION -->
    <section class="section-account"> 
        <div class="card contain-xs style-default-bright" style="z-index: 2;margin-top:50px">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        
                        <% if(typeof err != 'undefined' && err!='') { %>
                          <div class="alert alert-callout alert-danger" id="divError" data-value="0"> 
                              <p id="textError"><%=err%></p>
                          </div> 
                        <% } %>
                
                        <% if(typeof success != 'undefined' && success!='') { %>
                          <div class="alert alert-callout alert-success" id="divSuccess" data-value="0"> 
                              <p id="textSuccess"><%=success%></p>
                          </div> 
                        <% } %>
 
                        <br />
                      
                        <% if(typeof success != 'undefined' && success!='') { %>
                            <div class="row">
                                <div class="col-xs-12 text-left">
                                    <p class="help-block"><a href="/login">Regresar a iniciar sesion</a></p>
                                </div>
                                <!--end .col -->
                            </div>
                        <% }else{ %>
                        <span class="text-lg text-bold text-default"> CAMBIAR A NUEVA CONTRASEÑA </span>
                        <br /><br />
                        <form class="form form-validate" accept-charset="utf-8" action="/empresa_api/cambiar_password_nueva" method="post">
                            <div class="form-group floating-label">
                                <input type="text" name="id" style="display: none" value="<%=id%>"> 
                                <input type="text" class="form-control" id="password" name="password" required>
                                <label for="password">Ingrese la nueva contraseña</label>
                            </div>                          
                            
                            <br />
                            <div class="row">
                                <div class="col-xs-6 text-right">
                                    <button class="btn btn-info btn-raised" type="submit">Cambiar Contraseña</button>
                                </div>
                                <!--end .col -->
                            </div>
                            <!--end .row -->
                        </form>
                        <% } %>
                    </div>
                    <!--end .col -->
                     
                    <!--end .row -->
                </div>
                <!--end .card-body -->
            </div>
            <!--end .card -->
    </section>
   
    <!-- END LOGIN SECTION -->

    <!-- BEGIN JAVASCRIPT -->
    <script src="/assets/js/libs/jquery/jquery-1.9.1.js"></script>  
    <script src="/assets/js/libs/bootstrap/bootstrap.min.js"></script>
    <script src="/assets/js/core/cache/63d0445130d69b2868a8d28c93309746.js"></script> 
     

    <!-- END JAVASCRIPT -->

</body>

</html>