doctype html
html
  head
    //- link(href='https://fonts.googleapis.com/css?family=Montserrat|Oleo+Script' rel='stylesheet' type='text/css')
    //- link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css')
    //- link(rel='stylesheet' type='text/css' href='/app.css')
    //- link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    //- title AdminLTE 2 | Dashboard
    // Tell the browser to be responsive to screen width
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    // Bootstrap 3.3.7
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css')
    // Font Awesome
    link(rel='stylesheet', href='bower_components/font-awesome/css/font-awesome.min.css')
    // Ionicons
    link(rel='stylesheet', href='bower_components/Ionicons/css/ionicons.min.css')
    // Theme style
    link(rel='stylesheet', href='dist/css/AdminLTE.min.css')
    link(href='dist/css/loading.css', rel='stylesheet')
    link(rel="stylesheet" href="bower_components/select2/dist/css/select2.min.css")
    link(rel='stylesheet', href='dist/css/skins/_all-skins.min.css')
    // Morris chart
    link(rel='stylesheet', href='bower_components/morris.js/morris.css')
    // Date Picker
    link(rel='stylesheet', href='bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css')
    // bootstrap wysihtml5 - text editor
    link(rel='stylesheet', href='plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://

    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic')

    title=title
  body.hold-transition.sidebar-mini.fixed.skin-black
    section#H5_loading.H5_loading(style='background-color: rgba(0, 0, 0, 0.2);')
      .H5_loading_process
        div(style='background: rgb(102, 102, 102);')
        div(style='background: rgb(102, 102, 102);')
        div(style='background: rgb(102, 102, 102);')
        div(style='background: rgb(102, 102, 102);')
        div(style='background: rgb(102, 102, 102);')
        div(style='background: rgb(102, 102, 102);')
        div(style='background: rgb(102, 102, 102);')
        div(style='background: rgb(102, 102, 102);')


    .wrapper
      header.main-header
        // Logo
        a.logo(href='/')
          // mini logo for sidebar mini 50x50 pixels
          span.logo-mini
            b P
            | ale
          // logo for regular state and mobile devices
          span.logo-lg
            b Pal
            | ERP
        // Header Navbar: style can be found in header.less
        nav.navbar.navbar-static-top
          // Sidebar toggle button
          a.sidebar-toggle(href='#', data-toggle='push-menu', role='button')
            span.sr-only Toggle navigation
          .navbar-custom-menu
            ul.nav.navbar-nav
              // User Account: style can be found in dropdown.less
              li.dropdown.user.user-menu
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  img.user-image(src='images/default_profile_image.png', alt='User Image')
                  span.hidden-xs Josue Farfan
                ul.dropdown-menu
                  // Menu Footer
                  li.user-footer
                    a(href='#') Cerrar Sesion
      // Left side column. contains the logo and sidebar
      aside.main-sidebar
        // sidebar: style can be found in sidebar.less
        section.sidebar
          // Sidebar user panel
          .user-panel
            .pull-left.image
              img.img-circle(src='images/default_profile_image.png', alt='User Image')
            .pull-left.info
              p Josue Farfan Lazo
          // sidebar menu: : style can be found in sidebar.less
          div#nav-container
        // /.sidebar
      // Content Wrapper. Contains page content
      .content-wrapper
        div#main-contenido
          
      // /.content-wrapper
      footer.main-footer
        .pull-right.hidden-xs
          b Version
          |  1.0.0
        strong
          | © 2018 
          a(href='https://www.palerp.com') PalERP Constructores. 
        | Derechos reservados
      
   
    script(src='bower_components/jquery/dist/jquery.min.js')
    // jQuery UI 1.11.4
    script(src='bower_components/jquery-ui/jquery-ui.min.js')
    // Bootstrap 3.3.7
    script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
    // Morris.js charts
    script(src='bower_components/raphael/raphael.min.js')
    script(src='bower_components/morris.js/morris.min.js')
    // datepicker
    script(src='bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js')
    // Bootstrap WYSIHTML5
    script(src='plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js')
    // Slimscroll
    script(src='bower_components/jquery-slimscroll/jquery.slimscroll.min.js')
    //Select 2
    script(src="bower_components/select2/dist/js/select2.full.min.js")
    // AdminLTE App
    script(src='dist/js/adminlte.min.js')
    script(src='dist/js/demo.js')
    script(src='dist/js/loading.js')


    script(type='application/javascript' src='/app.js')
