
<!DOCTYPE html>
<html lang="en">
	<head>
      <title><%=title%></title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="keywords" content="IFACTURACION, SISTEMA DE FACTURACION ELECTRONICA, FACTURACION ELECTRONICA">
      <meta name="description" content="PALERP CONSULTORES">
      <!-- END META -->
  
      <!-- BEGIN STYLESHEETS -->
      <link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet'
          type='text/css' />
      <link type="text/css" rel="stylesheet" href="/assets/css/theme-default/bootstrap0f9f.css" />
      <link type="text/css" rel="stylesheet" href="/assets/css/theme-default/materialadmin6b47.css" />
      <link type="text/css" rel="stylesheet" href="/assets/css/theme-default/font-awesome.min5914.css" />
      <link type="text/css" rel="stylesheet" href="/assets/css/theme-default/material-design-iconic-font.min5730.css" />
      <link type="text/css" rel="stylesheet" href="/assets/css/theme-default/libs/DataTables/jquery.dataTables.css" />
      <link type="text/css" rel="stylesheet" href="/assets/css/theme-default/libs/toastr/toastr.css" />
      <link type="text/css" rel="stylesheet" href="/assets/css/theme-default/libs/waitMe/waitMe.min.css" />
      <link type="text/css" rel="stylesheet" href="/assets/css/custom.css" />
      <link type="text/css" rel="stylesheet" href="/assets/css/theme-default/libs/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" />
       
	</head>
 
	

	<body class="menubar-hoverable header-fixed menubar-pin ">
		<!-- BEGIN HEADER-->
	<header id="header" >
    <div class="headerbar">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="headerbar-left">
        <ul class="header-nav header-nav-options">
          <li class="header-nav-brand" >
            <div class="brand-holder">
              <a href="javascript:void(0);">
                <span class="text-lg text-bold text-default">PALERP - IFACTURACION</span>
              </a>
            </div>
          </li>
          <li>
            <a class="btn btn-icon-toggle menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
              <i class="fa fa-bars"></i>
            </a>
          </li>
        </ul>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="headerbar-right"> 
        <ul class="header-nav header-nav-profile">
          <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle ink-reaction" data-toggle="dropdown">
              <img src='images/default_profile_image.png' alt="" />
              <span class="profile-info">
                <p id="nick"><%=Nick%></p>
                <small><%=Cod_Usuarios%></small>
              </span>
            </a>
            <ul class="dropdown-menu animation-dock"> 
              <li><a href="logout"><i class="fa fa-fw fa-power-off text-danger"></i> Salir</a></li>
            </ul><!--end .dropdown-menu -->
          </li><!--end .dropdown -->
        </ul><!--end .header-nav-profile -->
      
      </div><!--end #header-navbar-collapse -->
    </div>
	</header>
	<!-- END HEADER-->

	<!-- BEGIN BASE-->
	<div id="base">
		<!-- BEGIN OFFCANVAS LEFT -->
		<div class="offcanvas">
		</div><!--end .offcanvas-->
		<!-- END OFFCANVAS LEFT -->

		<!-- BEGIN CONTENT-->
		<div id="content">
      <section>
       
        <div class="section-body" id="main-contenido">

        </div>
        <div class="section-footer" id="content_footer">
           
        </div>
      
      </section>

		</div> 
		<!-- END CONTENT -->

		<!-- BEGIN MENUBAR-->
		<div id="menubar" class="menubar-inverse ">
			<div class="menubar-fixed-panel">
				<div>
					<a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
						<i class="fa fa-bars"></i>
					</a>
				</div>
				<div class="expanded">
          <a href="javascript:void(0);">
						<span class="text-lg text-bold text-default ">PALERP - IFACTURACION</span>
					</a>
				</div>
			</div>
			<div class="menubar-scroll-panel">
        <!-- BEGIN MAIN MENU -->
        <div id="nav-container"> 
         
        </div>
				<!-- END MAIN MENU -->

				<div class="menubar-foot-panel">
					<small class="no-linebreak hidden-folded">
						<span class="opacity-75">Copyright &copy; 2018</span> <strong>Palerp Consultores</strong>
					</small>
				</div>
			</div><!--end .menubar-scroll-panel-->
		</div><!--end #menubar-->
		<!-- END MENUBAR --> 

	</div><!--end #base-->	
	<!-- END BASE -->


	<!-- BEGIN JAVASCRIPT -->
  <script src="/assets/js/libs/jquery/jquery-1.9.1.js"></script> 
  <script src="/assets/js/libs/jquery-ui/jquery-ui.min.js"></script>  
  <script src="/assets/js/libs/bootstrap/bootstrap.min.js"></script>
  <script src="/assets/js/libs/spin.js/spin.min.js"></script>
  <script src="/assets/js/libs/autosize/jquery.autosize.min.js"></script>
  <script src="/assets/js/core/cache/9782537cea5b6dc42cb13bd7821cceca.js"></script> 
  <script src="/assets/js/libs/nanoscroller/jquery.nanoscroller.min.js"></script>
  <script src="/assets/js/libs/toastr/toastr.js"></script> 
  <script src="/assets/js/libs/jsreport/jsreport.js"></script> 
  <script src="/assets/js/custom.js"></script>
  <script src="/assets/js/libs/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
  <script src="/assets/js/libs/ckeditor/ckeditor.js"></script>
  <script src="/assets/js/libs/waitMe/waitMe.min.js"></script>
  <script src="/assets/js/libs/jquery-ui/jquery.ui.combobox.js"></script>  
  <script src="/app.js"></script>

	
	<!-- END JAVASCRIPT -->

	
	
	</body>
</html>