<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width-->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7-->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome-->
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons-->
    <link rel="stylesheet" href="/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style-->
    <link rel="stylesheet" href="/dist/css/AdminLTE.min.css">
    <link href="/dist/css/waitMe.min.css" rel="stylesheet">
    <!-- WARNING: Respond.js doesn't work if you view the page via file://-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <title>iFacturacion Pale</title>
</head>

<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="javascript:void(0);">
                <b>Pal</b>ERP</a>
        </div>
        <!-- /.login-logo -->
         
        <div class="login-box-body"> 
            <% if(typeof err != 'undefined' && err!='') { %>
                <div class="callout callout-danger" id="divError" data-value="0">
                    <h4>Hubo un error!</h4>
                    <p id="textError"><%=err%></p>
                </div>
            <% }else{ %>
                <div class="callout callout-danger" id="divError" data-value="1" style="display: none;">
                    <h4>Hubo un error!</h4>
                    <p id="textError"></p>
                </div>
            <% } %>
            <h3 class="login-box-msg">Iniciar Sesión</h3>
            <form action="login" method="post">
               
                <!--<div class="form-group row">
                    <label class="col-sm-3 col-form-label" for="empresa">Empresa</label> 
                    <div class="col-sm-9">
                        <select id="empresa" name="RUC" class="form-control"> 
                        <% if(typeof empresa != 'undefined') { %>
                            <% empresa.forEach(function(e){ %>
                                <option value="<%=e.RUC%>"><%=e.Nom_Comercial%></option> 
                            <% }) %>
                        <% } %>
                        </select> 
                    </div>
                </div>-->


                <div class="form-group has-feedback"> 
                    <input type="text" name="RUC" class="form-control" id="empresa" required placeholder="RUC">
                    <span class="glyphicon glyphicon-stats form-control-feedback"></span>
                </div>
                
                <div class="form-group has-feedback"> 
                    <input type="text" name="usuario" class="form-control" required placeholder="Usuario">
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>

                <div class="form-group has-feedback"> 
                    <input type="password" name="password" class="form-control" required placeholder="Contraseña">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span> 
                </div>
                <!--
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" for="Gestion">Gestion</label>
                    <div class="col-sm-9">
                        <% if(typeof gestion != 'undefined') { %>
                            <input type="number" name="Gestion" id="Gestion" class="form-control" value="<%=gestion%>" required placeholder="Gestion">
                        <% } %>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" for="Periodo">Periodo</label>
                    <div class="col-sm-9" id="select-periodo">
                        <select id="Periodo" name="Periodo" class="form-control"> 
                            
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" for="turno">Turno</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" id="btnTurnoSiguiente"><i class="fa fa-arrow-right text-success"></i></button>
                            </span>
                            <div id="select-turno">
                                <select id="Turno" name="Turno" class="form-control"> 
                                    
                                </select>
                            </div>
                        </div>
                    </div>
                </div>-->

                <div class="row">
                    <!-- /.col -->
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-warning btn-block btn-flat"><i class="fa fa-check"></i> Entrar</button>
                    </div>
                    <!-- /.col -->
                </div>
                <p></p>
                <div class="row">
                    <!-- /.col -->
                    <div class="col-xs-12">
                        <a href="/register" class="btn btn-primary btn-block btn-flat"><i class="fa fa-user-plus"></i> Registrarse</a>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

        </div>
        <!-- /.login-box-body -->
    </div>
    
    <script src='/bower_components/jquery/dist/jquery.min.js'></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/dist/js/waitMe.min.js"></script>
    
</body>

</html>