 .invoice-box {
    max-width: 800px;
    margin: auto;
    font-size: 12px;
    line-height: 24px;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: #555;
}

.invoice-box table {
    width: 100%;
    line-height: inherit;
    text-align: left;
}

.invoice-box table td {
    padding: 5px;
    vertical-align: top;
}

.invoice-box table tr.top table td {
    padding-bottom: 20px;
}

.invoice-box table tr.top table td.logo {
    text-align:center;
    font-size: 30px; 
    color: #333;
}

.invoice-box table tr.top table td.logo > label {
    font-size: 10px;
    line-height: 10px; 
}

.invoice-box table tr.top table td.correlativo {
    font-size: 20px;
    line-height: 30px;
    color: #333;
    background:#eee;
    text-align: -webkit-center;
    text-align: center;
}

.invoice-box table tr.information table td {
    padding-bottom: 10px;
}

.invoice-box table tr.heading td {
    background: #e2e2e2;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    text-align:center;
}

.invoice-box table tr.details td {
    padding-bottom: 20px;
}
.tabla_op{
    margin-left:70%;
    position:absolute;
    font-size: 12px;
    line-height: 15px;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: #555;
    text-align:right;
}

.detalle_op {
    padding-left:25px;
}
.pie_pagina {
    text-align:center;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    font-size: 12px;
    margin:0 auto;
    padding-top:50%;
    
}

.invoice-box  #qrcode {
  width:160px;
  height:160px;
  
}
.invoice-box #comprobante{
  display:none;
}

.invoice-box table .item:nth-child(odd){    
    background-color: #f5f5f5;    
}
