.selectPalerp{
    font-weight: 700;
    border: whitesmoke;
    background: whitesmoke;
    font-size: 18px;
    text-align-last: center;
}

.selectPalerp:hover{
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}

.cc-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.cc-selector-2 input{
    position:absolute;
    z-index:999;
}

.visa{background-image:url('/../images/lXzJ1eB.png');}
.mastercard{background-image:url('/../images/SJbRQF7.png');}
.euros{background-image:url('/../images/euros.jpg');}
.soles{background-image:url('/../images/soles.jpg');}
.dolares{background-image:url('/../images/dolares.jpg');}

.cc-selector-2 input:active +.drinkcard-cc, .cc-selector input:active +.drinkcard-cc{opacity: .9;}
.cc-selector-2 input:checked +.drinkcard-cc, .cc-selector input:checked +.drinkcard-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.drinkcard-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:140px;
    height:70px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.1) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.1) grayscale(1) opacity(.7);
            filter: brightness(1.1) grayscale(1) opacity(.7);
}
.drinkcard-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}

/* Extras */ 
a{color:#444;text-decoration:none;}
p{margin-bottom:.3em;} 
.cc-selector-2 input{ margin: 5px 0 0 12px; }
.cc-selector-2 label{ margin-left: 7px; }
span.cc{ color:#6d84b4 }
 

input[type=search] {
    -webkit-appearance: searchfield;
}

table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 1px solid #c1c1c1;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #c1c1c1;
}
 

.icon {
    font-size: 14px;
    text-align: center;
    line-height: 14px;
    vertical-align: middle;

    cursor: pointer;
}

.scheduler_default_rowheader_inner
{
    border-right: 1px solid #ccc;
}
.scheduler_default_rowheadercol2
{
    background: White;
}
 
.status_dirty.scheduler_default_rowheadercol2 .scheduler_default_rowheader_inner
{
    border-left:  5px solid #d73925;
}
.status_cleanup.scheduler_default_rowheadercol2 .scheduler_default_rowheader_inner
{
    border-left: 5px solid #e08e0b; /* orange */
}
 

.status_clean.scheduler_default_rowheadercol2 .scheduler_default_rowheader_inner
{
    top: 2px;
    bottom: 2px;
    left: 2px;
    background-color: transparent;
    border-left: 5px solid #008d4c; /* green */
    border-right: 0px none;
}

.text-white{
    color: white;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #367fa9;
    border: 1px solid #367fa9;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px;
}

.btn-rotate{
    vertical-align: top;
    margin-top: 30px;
    margin-bottom: 15px;
    width: 80px;
    height: 40px;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}

.not-active{
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}

.scroll-horizontal ul{
    display: inline-block;
    overflow: auto;
    overflow-y: hidden;
    max-width: 100%;
    margin: 0 0 1em;
    white-space: nowrap;
    background: transparent;
} 

.scroll-horizontal ul li { 
    display: inline-block;
    vertical-align: top;
    padding-right: 4px;
}

.skin-red .sidebar a.not-active {
    color: #626467;
}

.scroll-horizontal ul::-webkit-scrollbar {
    width: 12px;
    height: 5px;
}

.scroll-horizontal ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  
}

.scroll-horizontal ul::-webkit-scrollbar-thumb { 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
   
@media only screen and (min-width: 1050px) and (max-width: 1349px) {
    .divDP {
        width: 100%;
        padding-bottom: 10px;
        margin: auto;
        text-align: -webkit-center; 
    }
    .divNav{
        width: 100%;
        padding-bottom: 10px;
        margin: auto;
        text-align: -webkit-center; 
    }
}

@media only screen and (max-width: 1050px) {
    .divDP {
       width: 100%; 
    }
    .divNav{
        width: 100%;
        padding-bottom: 10px;
        margin: auto;
        text-align: -webkit-center; 
    }
}

@media only screen and (max-width: 997px) {
    .divAcciones {
       display: none; 
    } 
    .divBuscar {
        width: 100%; 
    } 
}


.header-nav > li {
    position: relative;
    display: block;
    padding: 14px 0 14px 0px;
    float: left;
}

.name-bussiness{
    width: 200px;
    text-overflow: ellipsis;
    white-space:nowrap;
    overflow:hidden;
}

.name-bussiness:hover{
    width: auto;
    white-space: initial;
    overflow:visible;
    cursor: pointer;
}